.mainBody{
    background-image: url('../images/gravel.png');
    max-width: 960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666666;
    margin: 1em 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    background-color: #4aaaa5;
    padding-top: 20px;
    width: 200px;
    text-align: left, center;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 10.0%;
    
}

.selfie {
    width: 150px;
    height: 180px;
    float: left;
    padding-right: 25px;
    position: relative;
}

#sectionTitle {
    color: #4aaaa5;
}

 a {
    position: relative;
    left:10%;
    bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.mainHeader{
    background-color: #ffffff;
    border-color: #cccccc;
    width: 1960px;
    height: 55px;
    margin-left: -39.9%;
    margin-right: 33.3%;
}

.sectionName{
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.footer{
    text-align: center;
    background-color: #666666;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 0;
    width: 1950px;
    height: 70px;
    margin-left: -33.3%;
    margin-right:33.3%;
    position: fixed;
}

.contact{
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;


}